*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  
}
html, body{
  height: 100%;
  width: 100%;
}
.parent{
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  padding-left: 25px;
   padding-top: 20px;
   display: flex;
  flex-wrap: wrap;
   gap:20px;
   align-items: flex-start;
   

}
.card{
  height: 400px;
  width: 300px;
  background-color: #dadada;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

 
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;;
}
.top img{
  height: 30px;
  width: 30px;
  
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
  cursor: pointer;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  
}
.mid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.mid img{
  height: 150px;
  width: 150px;
  border-radius: 20px;
  border: 1.8px solid #dadada;
  
  
}
.mid h3 {
  color: #565656;
  font-size: 20px;
  font-weight: 500;
}
.mid h1 {
  color: #565656;
  font-size: 14px;
  font-weight: 400;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 17px;
  padding: 4px 8px;
  cursor: pointer;
  
}
.mid p{
  text-align: center;
  background-color: #a7a6a6;
  color: #000000;
  font-size: 15px;
 
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
} 